go 1.23.0

use (
	./services/generic-scan-runner
	./services/api-service
	./services/auth-service
	./services/jira-integration-service
	./services/jira-mock
	./services/processing-service
	./services/reference-data-service
	./services/semgrep-service
	./services/gitleaks-service
	./services/trivy-sca-service
	./services/zap-dast-service
	./services/findings-adapter-service
)
